.App {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  margin-bottom: 20px;
  border: none;
  background: black;
  color: white;

}